<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="Math blog and professional website of Chris Grossack.">

<!-- Favicon: ADD ME -->
<link rel="apple-touch-icon" sizes="180x180" href="" />
<link rel="icon" sizes="96x96" href="" />
<link rel="icon" sizes="32x32" href="" />
<link rel="icon" sizes="16x16" href="" />

<!-- NOTE TO SELF: PUT SOCIAL SHARING META HERE -->

<title>{{ page.title }} | Chris Grossack's Blog</title>

<!-- FONTS AND STYLESHEETS -->
<link rel="stylesheet" href="https://use.typekit.net/fol4uvq.css">
<link rel="stylesheet" href="/assets/css/styles.css">

<!-- STOPS TRANSITIONS FROM FIRING ON PAGE LOAD -->
  <script>
    $(document).ready(function() {
      $("body").removeClass("preload");
    });
  </script>
</head>
