//defensive coding
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

//thank you css-tricks for the preload trick
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.clear {
  clear: both;
}

body {
  font-size: $base-font-size;
  font-family: $body-font;
  line-height: 1.4;
  color: $main-body;
}

img, svg {
  max-width: 100%;
}

a {
  color: $main-accent;
  text-decoration: none;
  transition: .2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}

h1, h2, h3 {
  font-family: $heading-font;
  padding-bottom: 0.5rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 2.75rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: $second-accent;
}

main {
  max-width: $content-width;
  margin: auto;
}
