//defensive coding
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
}

//thank you css-tricks for the preload trick
//stops transitions from firing on page load
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.clear {
  clear: both;
}

body {
  font-size: $base-font-size;
  font-family: $body-font;
  line-height: 1.4;
  color: $main-body;
}

img, svg {
  max-width: 100%;
}

//link styling
a {
  color: $main-accent;
  text-decoration: none;
  transition: .2s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: black;
  }
}

//default headers styling
h1, h2, h3 {
  font-family: $heading-font;
  padding-top: 0.5rem;
}

h1 {
  font-size: 3.15rem;
  @media only screen and (max-width: $mobile) {
    font-size: 2.75rem;
    line-height: 1.25;
  }
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  @media only screen and (max-width: $mobile) {
    font-size: 1.66rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  color: $dark-grey;
}

//base styling for all content sections
main {
  max-width: $content-width;
  @media only screen and (max-width: $mobile) {
    max-width: $mobile-content-width;
  }
  margin: auto;
  padding: 1rem 0;
  min-height: calc(100vh - 16rem);
  // This fixed value makes it so the footer
  // always sticks to the bottom of the screen.
  // The 16rem comes from [($footer-height * 2) + 2rem]
  // since main has a 2rem of padding & margin built in.
  // 100vh = the height of the viewport.
}

// gives each paragraph a lil room to breathe
p {
  padding-bottom: 0.5rem;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

//grey section lines
hr {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: $section-line;
  height: 1px;
  border-top: 0;
}

//default list styling
ul, ol {
  box-sizing: border-box;
  margin-bottom: 1rem;
  margin-left: 1rem;

  li {
    margin-left: 1rem;
  }
}

//defaults bullet points to solid circles
ul li {
  list-style-type: disc;
}

//defaults lists to 1, 2, 3...
ol li {
  list-style-type: decimal;
}

//list styling exception for list of posts on blog.html
//so it doesn't generate as a bullet point list
.post-list {
  margin-left: 0;

  li {
    list-style-type: none;
    margin-left: 0;
  }
}

//code outside of sage cells
code {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  background: $light-grey;
  border: 1px solid $dark-grey;
  box-sizing: border-box;
  padding: .25rem;
  margin: .25rem 0;
  word-wrap: break-word;
}

//tables

table {

  box-sizing: border-box;

  //table headings
  th {
    font-weight: bold;
    font-family: $heading-font;
    background-color: $main-accent;
    font-size: calc(#{$base-font-size} - 2pt);
    color: white;
    padding: 1rem;
    vertical-align: middle;
    //border-box is being the worst
    //so cheating to make everything the same width
    border: 1px solid $main-accent;
  }

  //table body
  tbody {
    font-size: calc(#{$base-font-size} - 2pt);
    background-color: #f5f5f5;

    //table rows
    tr {
      vertical-align: middle;
      //put a border on the bottom of every row
      border-bottom: 1px solid $section-line;
    }

    //table items
    td {
      text-align: left;
      padding: 0.75rem;
      box-sizing: border-box;
      vertical-align: middle;
      box-sizing: border-box;
      //put borders on the left and right of all body items
      border-left: 1px solid $section-line;
      border-right: 1px solid $section-line;
    }
  }
}

//boxed styling
.boxed {
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background: $light-grey;
  font-family: $heading-font;
  font-size: calc(#{$base-font-size} - 1pt);
}
