.landing {
  max-width: 1200px;
  margin: auto;
  margin-top: 10%;

  h1 {
    color: $main-accent;
    width: 75%;
    text-align: left;
    line-height: 1.25;
  }

  .desc {
    width: 66.66%;
    padding-top: 1rem;
    font-family: $heading-font;
    color: $dark-grey;
  }

  .diag {
    background-color: $main-accent;
    margin-left: 50%;
    height: 1px;
    width: 500px;
    transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
  }

  .landing-links {
    font-family: $heading-font;
    text-transform: uppercase;
    margin-left: 70%;
    padding-top: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
  }

  .landing-links a {
  }
}
