//Colors
$main-accent: #00B595;
$dark-grey: #666;
$light-grey: #ededed;
$main-body: #333;
$definition: #00AFD8;

//Fonts
$heading-font: sofia-pro, sans-serif;
$body-font: adobe-text-pro, serif;
$base-font-size: 14pt;

//Other
$content-width: 60%;
$mobile-content-width: 90%;
$nav-width: 1500px;

//Mobile Breakpoints
$mobile: #{max-width:} 767.98px;
$tablet: #{max-width:} 1023.98px;
