---
layout: default
---

<div class="post">
  <h1>{{ page.title }}</h1>
  <h3>
  {{ page.date | date_to_string }} 
  {% if page.author %}
  - Guest Author: {{ page.author }}
  {% endif %}
  {% if page.tags.size > 0 %}
  - Tags: 
    {% assign not_first = false %}
    {% for tag in page.tags %}
    {% if not_first %}, {% endif %}<a href="/tags/{{ tag }}">{{ tag }}</a>  
    {% assign not_first = true %}
    {% endfor %}
  {% endif %}
  </h3>

  {{ content }}
</div>

<section class="comments">
<!-- Use utteranc.es as a comment system -->
  <script src="https://utteranc.es/client.js"
          repo="hallasurvivor/blog"
          issue-term="pathname"
          label="💬comment"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</section>
